################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RedditBot
/bin/Debug/netcoreapp3.0
/obj
/bin/Debug/netcoreapp2.2
/bin/Debug/netcoreapp3.1
